@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>Your unique service hook url: http://tweetharbor.apphb.com/notify/new/@ViewBag.UserName</p>
*Paste this link into the <a href="https://appharbor.com/application/TweetHarbor/servicehook">Service</a> Hooks section on App Harbor.