/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
html
{
    background: url(backgroundsprite.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body
{
    font-size: .85em;
    font-family: "Trebuchet MS" , Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #696969;
}

a:link
{
    color: #034af3;
    text-decoration: underline;
}

a:visited
{
    color: #505abc;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #12eb87;
}

p, ul
{
    margin-bottom: 20px;
    line-height: 1.6em;
}

header, footer, nav, section
{
    display: block;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #000;
}

h1
{
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}

h2
{
    padding: 0 0 10px 0;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page
{
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

header, #header
{
    position: relative;
    margin-bottom: 0px;
    color: #000;
    padding: 0;
}

header h1, #header h1
{
    font-weight: bold;
    padding: 5px 0;
    margin: 0;
    color: #fff;
    border: none;
    line-height: 2em;
    font-size: 32px !important;
    text-shadow: 1px 1px 2px #111;
}

#main
{
    padding: 30px 30px 15px 30px;
    background-color: #fff;
    border-radius: 4px 0 0 0;
    -webkit-border-radius: 4px 0 0 0;
    -moz-border-radius: 4px 0 0 0;
}

footer, #footer
{
    background-color: #fff;
    color: #999;
    padding: 10px 0;
    text-align: center;
    line-height: normal;
    margin: 0 0 30px 0;
    font-size: .9em;
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
}
/* LOGIN PARTIAL */

#logon_status
{
}


/* TAB MENU   
----------------------------------------------------------*/
ul#menu
{
    padding: 0 0 2px;
    position: relative;
    margin: 0;
    text-align: left;
    width: 500px;
}

ul#menu li
{
    display: inline;
    list-style: none;
}

ul#menu li#greeting
{
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color: #fff;
}

ul#menu li a
{
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    background-color: #e8eef4;
    color: #444;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
}

ul#menu li a:hover
{
    background-color: #fff;
    text-decoration: none;
}

ul#menu li a:active
{
    background-color: #a6e2a6;
    text-decoration: none;
}

ul#menu li.selected a
{
    background-color: #fff;
    color: #000;
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend
{
    font-size: 1.2em;
    font-weight: bold;
}

textarea
{
    min-height: 75px;
}

input[type="text"], input[type="password"]
{
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
    width: 200px;
}

select
{
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
}

input[type="submit"]
{
    font-size: 1.2em;
    padding: 5px;
}

/* TABLE
----------------------------------------------------------*/

table
{
    border: solid 1px #e8eef4;
    border-collapse: collapse;
}

table td
{
    padding: 5px;
    border: solid 1px #e8eef4;
}

table th
{
    padding: 6px 5px;
    text-align: left;
    background-color: #e8eef4;
    border: solid 1px #e8eef4;
}

/* MISC  
----------------------------------------------------------*/
.clear
{
    clear: both;
}

.error
{
    color: Red;
}

nav, #menucontainer
{
    margin-top: 10px;
}

div#title
{
    display: block;
    float: left;
    text-align: left;
}

#logindisplay
{
    width: 250px;
    float: right;
    font-size: 1.1em;
    display: block;
    padding: 2px 5px 2px 5px;
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    background-color: #fff;
    color: #111;
}

#logindisplay a:link
{
    color: #111;
    text-decoration: underline;
}

#logindisplay a:visited
{
    color: #111;
    text-decoration: underline;
}

#logindisplay a:hover
{
    color: #111;
    text-decoration: none;
}

#logindisplay img
{
    margin-right: 10px;
    height: 35px;
    border: 1px solid #eee;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label, .editor-label
{
    margin: 1em 0 0 0;
}

.display-field, .editor-field
{
    margin: 0.5em 0 0 0;
}

.text-box
{
    width: 30em;
}

.text-box.multi-line
{
    height: 6.5em;
}

.tri-state
{
    width: 6em;
}

#account h3, #account h4
{
    margin: 0px;
    padding: 0px;
}
#account #img_profile
{
    float: left;
    margin: 5px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -moz-box-shadow: 1px 1px 1px #666;
    -webkit-box-shadow: 1px 1px 1px #666;
    box-shadow: 1px 1px 1px #666;
}

#account #link
{
    border: 1px solid #ccc;
    padding: 10px;
    display: block;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -moz-box-shadow: 1px 1px 1px #666;
    -webkit-box-shadow: 1px 1px 1px #666;
    box-shadow: 1px 1px 1px #666;
    width: 100%;
    font-size: .95em;
}

#account #email_address_edit
{
    display: none;
}

#account #email_address_edit #saveEmailLink img
{
    position: relative;
    top: 5px;
}


.template_edit
{
    display: none;
}

.template_edit_field
{
    width: 100%;
    border-color: #ccc;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

#service_hook
{
    margin-top: 20px;
    width: 75%;
}
#tweet_options
{
    float: right;
    margin-right: 25px;
}

.twitter_host_account
{
    vertical-align: middle;
}

.section
{
    margin-bottom: 20px;
}



#user_partial
{
    margin-top: 5px;
}
#user_partial .user_partial_small_pic
{
    margin-right: 5px;
}

.build_succeeded
{
    background-color: #8AFF8A;
}
.build_failed
{
    background-color: #F59881;
}


ul.recipient_list
{
    list-style: none;
}


.template_field_insert
{
    font-size: .8em;
    cursor: pointer;
}

ul.projects_list
{
    margin: 0px;
    padding: 0px;
    list-style: none;
    width: 100%;
}

ul.projects_list li.list_project
{
    width: 100%;
    padding: 10px;
    display: block;
    clear: both;
    margin-bottom: 125px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

ul.projects_list li.list_project h3
{
    border: 1px solid #ccc;
    padding: 12px !important;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -moz-box-shadow: 1px 1px 1px #666;
    -webkit-box-shadow: 1px 1px 1px #666;
    box-shadow: 1px 1px 1px #666;
}

ul.projects_list li.list_project h5
{
    margin: 0px;
    padding: 0px;
    margin-top: 20px;
}

ul.projects_list li.list_project h6
{
    margin: 0px;
    padding: 0px;
}

.switch
{
    float: left;
    border: 1px dotted #ccc;
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -moz-box-shadow: 1px 1px 1px #666;
    -webkit-box-shadow: 1px 1px 1px #666;
    box-shadow: 1px 1px 1px #666;
}
ul.projects_list li.list_project .template
{
    border: 1px dotted #ccc;
    clear: both;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -moz-box-shadow: 1px 1px 1px #666;
    -webkit-box-shadow: 1px 1px 1px #666;
    box-shadow: 1px 1px 1px #666;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}

.recipients
{
    display: block;
    margin-left: 25px;
    float: left;
}
ul.recipient_list
{
    width: 200px;
    list-style: none;
    margin: 0px;
    padding: 0px;
}
ul.recipient_list li
{
    padding: 3px;
    width: 200px;
    color: #fff;
    border: 1px solid #ccc;
    background-color: #A4A8FF;
}
.messageRecipientsWrapper
{
    width: 200px;
    height: 300px;
}

ul.recipient_list li:hover
{
    background-color: #79AEFD;
}
.recipient_remove_button
{
    float: right;
}

#project_instructions
{
    display: none;
}

#project_instructions #steps li.step
{
    padding: 10px;
    margin: 10px;
    background-color: #F9F9F9;
    float: left;
    width: 255px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    overflow: hidden;
}

#project_instructions .step-by-step
{
    text-indent: 0px;
    list-style-position: inside;
    margin: 0px;
    padding: 0px;
}

#project_instructions ol li
{
    margin: 0px;
    padding: 0px;
    background-color: #E7E7E7;
    margin: 5px;
    padding: 4px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

#project_instructions #steps
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: 98%;
    margin: 0 auto 0 auto;
}


#appharbor_credentials
{
    display: none;
}

#service_accounts
{
    float: right;
    display: block;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -moz-box-shadow: 1px 1px 1px #666;
    -webkit-box-shadow: 1px 1px 1px #666;
    box-shadow: 1px 1px 1px #666;
    max-width: 300px;
    min-width: 150px;
}
.service_account
{
    width: 75px;
    text-align: center;
}

#service_accounts .service_account
{
    float: left;
}
.service_account img
{
    width: 55px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -moz-box-shadow: 1px 1px 1px #666;
    -webkit-box-shadow: 1px 1px 1px #666;
    box-shadow: 1px 1px 1px #666;
}
#service_accounts .service_account .service_account_username
{
    font-size: .8em;
}

#service_accounts .service_account.new_account
{
    border: 1px dotted #ccc;
    background-color: #eee;
    font-size: .8em;
    height: 55px;
    width: 55px;
    margin-left: 8px;
}












/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper
{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    overflow: hidden;
}
#cboxOverlay
{
    position: fixed;
    width: 100%;
    height: 100%;
}
#cboxMiddleLeft, #cboxBottomLeft
{
    clear: left;
}
#cboxContent
{
    position: relative;
}
#cboxLoadedContent
{
    overflow: auto;
}
#cboxTitle
{
    margin: 0;
}
#cboxLoadingOverlay, #cboxLoadingGraphic
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow
{
    cursor: pointer;
}
.cboxPhoto
{
    float: left;
    margin: auto;
    border: 0;
    display: block;
}
.cboxIframe
{
    width: 100%;
    height: 100%;
    display: block;
    border: 0;
}

/* 
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay
{
    background: url(images/overlay.png) repeat 0 0;
}
#colorbox
{
}
#cboxTopLeft
{
    width: 21px;
    height: 21px;
    background: url(images/controls.png) no-repeat -101px 0;
}
#cboxTopRight
{
    width: 21px;
    height: 21px;
    background: url(images/controls.png) no-repeat -130px 0;
}
#cboxBottomLeft
{
    width: 21px;
    height: 21px;
    background: url(images/controls.png) no-repeat -101px -29px;
}
#cboxBottomRight
{
    width: 21px;
    height: 21px;
    background: url(images/controls.png) no-repeat -130px -29px;
}
#cboxMiddleLeft
{
    width: 21px;
    background: url(images/controls.png) left top repeat-y;
}
#cboxMiddleRight
{
    width: 21px;
    background: url(images/controls.png) right top repeat-y;
}
#cboxTopCenter
{
    height: 21px;
    background: url(images/border.png) 0 0 repeat-x;
}
#cboxBottomCenter
{
    height: 21px;
    background: url(images/border.png) 0 -29px repeat-x;
}
#cboxContent
{
    background: #fff;
    overflow: hidden;
}
.cboxIframe
{
    background: #fff;
}
#cboxError
{
    padding: 50px;
    border: 1px solid #ccc;
}
#cboxLoadedContent
{
    margin-bottom: 28px;
}
#cboxTitle
{
    position: absolute;
    bottom: 4px;
    left: 0;
    text-align: center;
    width: 100%;
    color: #949494;
}
#cboxCurrent
{
    position: absolute;
    bottom: 4px;
    left: 58px;
    color: #949494;
}
#cboxSlideshow
{
    position: absolute;
    bottom: 4px;
    right: 30px;
    color: #0092ef;
}
#cboxPrevious
{
    position: absolute;
    bottom: 0;
    left: 0;
    background: url(images/controls.png) no-repeat -75px 0;
    width: 25px;
    height: 25px;
    text-indent: -9999px;
}
#cboxPrevious:hover
{
    background-position: -75px -25px;
}
#cboxNext
{
    position: absolute;
    bottom: 0;
    left: 27px;
    background: url(images/controls.png) no-repeat -50px 0;
    width: 25px;
    height: 25px;
    text-indent: -9999px;
}
#cboxNext:hover
{
    background-position: -50px -25px;
}
#cboxLoadingOverlay
{
    background: url(images/loading_background.png) no-repeat center center;
}
#cboxLoadingGraphic
{
    background: url(images/loading.gif) no-repeat center center;
}
#cboxClose
{
    position: absolute;
    bottom: 0;
    right: 0;
    background: url(images/controls.png) no-repeat -25px 0;
    width: 25px;
    height: 25px;
    text-indent: -9999px;
}
#cboxClose:hover
{
    background-position: -25px -25px;
}

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.
  See: http://jacklmoore.com/notes/ie-transparency-problems/
*/
.cboxIE #cboxTopLeft, .cboxIE #cboxTopCenter, .cboxIE #cboxTopRight, .cboxIE #cboxBottomLeft, .cboxIE #cboxBottomCenter, .cboxIE #cboxBottomRight, .cboxIE #cboxMiddleLeft, .cboxIE #cboxMiddleRight
{
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}

/*
  The following provides PNG transparency support for IE6
  Feel free to remove this and the /ie6/ directory if you have dropped IE6 support.
*/
.cboxIE6 #cboxTopLeft
{
    background: url(images/ie6/borderTopLeft.png);
}
.cboxIE6 #cboxTopCenter
{
    background: url(images/ie6/borderTopCenter.png);
}
.cboxIE6 #cboxTopRight
{
    background: url(images/ie6/borderTopRight.png);
}
.cboxIE6 #cboxBottomLeft
{
    background: url(images/ie6/borderBottomLeft.png);
}
.cboxIE6 #cboxBottomCenter
{
    background: url(images/ie6/borderBottomCenter.png);
}
.cboxIE6 #cboxBottomRight
{
    background: url(images/ie6/borderBottomRight.png);
}
.cboxIE6 #cboxMiddleLeft
{
    background: url(images/ie6/borderMiddleLeft.png);
}
.cboxIE6 #cboxMiddleRight
{
    background: url(images/ie6/borderMiddleRight.png);
}

.cboxIE6 #cboxTopLeft, .cboxIE6 #cboxTopCenter, .cboxIE6 #cboxTopRight, .cboxIE6 #cboxBottomLeft, .cboxIE6 #cboxBottomCenter, .cboxIE6 #cboxBottomRight, .cboxIE6 #cboxMiddleLeft, .cboxIE6 #cboxMiddleRight
{
    _behavior: expression(this.src = this.src ? this.src : this.currentStyle.backgroundImage.split('"')[1], this.style.background = "none", this.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src=" + this.src + ", sizingMethod='scale')");
}
