<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="4.2.0.0" />
  <package id="Hammock" version="1.2.3" />
  <package id="Moq" version="4.0.10827" />
  <package id="Newtonsoft.Json" version="4.0.4" />
  <package id="Ninject" version="2.2.1.4" />
  <package id="Ninject.MVC3" version="2.2.2.0" />
  <package id="TweetSharp" version="2.0.6" />
  <package id="WebActivator" version="1.4.1" />
</packages>