@if(Request.IsAuthenticated) {
    <text>Welcome <strong>@User.Identity.Name</strong>!
    [ @Html.ActionLink("Sign Out", "LogOff", "Account") ]</text>
}
else {
    <a href="/Account/Authorize"><img src="@Url.Content("~/Content/sign_in_with_twitter.png")" alt="Sign in with Twitter" /></a>
}
