<div class="sign_in_options">
    Sign in with
    <br />
    <a href="/Account/Authorize?Client=AppHarbor">
        <img src="@Url.Content("~/Content/appharbor_logo.png")" alt="Sign in with AppHarbor" height="24" /></a>
    or <a href="/Account/Authorize?Client=twitter">
        <img src="@Url.Content("~/Content/twitter.png")" alt="Sign in with Twitter" /></a></div>
