@{
    ViewBag.Title = "About Us";
}
<h2>
    About TweetHarbor</h2>
<p class='left'>
    TweetHarbor makes getting notified about your <a href="https://appharbor.com">AppHarbor</a>
    builds a snap. Sign in, Sync and tell us how you want to be notified. It's that
    easy.
</p>
<p class='left'>
</p>
