@{
    ViewBag.Title = "Home Page";
}
<h2>@ViewBag.Message</h2>
<p>
    A quick and dirty service to update you via Twitter about your <a href="http://www.appharbor.com"
        target="_blank">AppHarbor</a> builds. This is an open-source project so if you
    would like to contribute, jump over to the <a href="https://github.com/sethwebster/TweetHarbor"
        target="_blank">GitHub Repository</a>.
</p>
<h3>
    How do I use it?</h3>
<ol>
    <li><a href="https://appharbor.com/application/new" target="_blank">Create a Project</a>
        at AppHarbor</li>
    <li><a href="/Account/Authorize">
        <img src="@Url.Content("~/Content/twitter.png")" alt="Sign in with Twitter" /></a></li>
    <li>Save your unique <a href="/Account">Service Hook Url</a> into your AppHarbor Project's
        <a href="https://appharbor.com/application">Service Hook's</a> section.</li>
</ol>
