@{
    ViewBag.Title = "Index";
}
<h2>
    Index</h2>
@Html.ActionLink("Users", "Index", "Users")
@Html.ActionLink("Projects", "Index", "Projects")
@Html.ActionLink("Notifications", "ProjectNotifications", "Projects")